<!DOCTYPE html>
<html>

<head>
    <title>
        <%= Title %>
    </title>
<link rel="icon" type="image/png" href="/logo.png" />    
    <link rel="stylesheet" href="/css/plugins/bootstrap-cosmo.css">
    <link rel='stylesheet' href='/css/styles/style.css' />
    <script type="text/javascript" async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDXMI9nDd3uPOhTEGl04Cqbs2EXWROT35E"></script>
</head>

<body>
    <section class="container">

        <h1>
            <%= Title %>
        </h1>
        <div>
            <h1>Lista de motoristas</h1>
            <ul class="drivers">

            </ul>
        </div>
        <div id="root"></div>
        
    </section>
        <script src="/js/plugins/jquery.js"></script>
        <script src="/js/plugins/bootstrap.js"></script>
        <script src="/js/scripts/drivers.js"></script>
    </body>
    
    </html>