<!DOCTYPE html>
<html>

<head>
    <title>
        <%= Title %>
    </title>
    <link rel="stylesheet" href="/css/plugins/bootstrap.css">
    <link rel='stylesheet' href='/css/stylesheets/style.css' />
    <script type="text/javascript" async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDXMI9nDd3uPOhTEGl04Cqbs2EXWROT35E"></script>
</head>

<body>
    <h1>
        <%= Title %>
    </h1>

    <div id="root"></div>

    <script src="/js/plugins/jquery.js"></script>
    <script src="/js/plugins/bootstrap.js"></script>
    <script src="/js/scripts/listDrivers.js"></script>
</body>

</html>