<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, user-scalable=no">    
    <link rel="stylesheet" href="/css/plugins/bootstrap-cosmo.css">
    <title>Eventos</title>
</head>
<body>
    <div class="container">
        <a href="/events/register" class="btn btn-primary">Criar evento</a>
        <div class="root col-sm-6 col-sm-offset-3"></div>
    </div>

    <script src="/js/plugins/jquery.js"></script>
    <script src="/js/plugins/bootstrap.js"></script>
    <script src="/js/scripts/listEvents.js"></script>
</body>
</html>