<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" href="/css/plugins/bootstrap-cosmo.css">
    <meta name="viewport" content="width=device-width, user-scalable=no">    
    <link rel='stylesheet' href='/css/stylesheets/style.css' />
</head>

<body>
    <section class="container">
        <h1>
            <%= title %>
        </h1>
        <p>Welcome to
            <%= title %>
        </p>

        <form class="form-register formulario" action="/events/<%= eventId %>/offers" method="POST">

          <div id="map" style="height: 500px;"></div>
          <button type="button" class="btn btn-success" onclick="cliqueNoSalvar()">Avançar</button>
        </div>
    </section>

    <script src="/js/plugins/jquery.js"></script>
    <script src="/js/plugins/bootstrap.js"></script>
    <script src="/js/scripts/map.js"></script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC6pcTd1d77aHPU596ktdbvUz-SHH9cphE&callback=initMap">
    </script>
</body>

</html>
