<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" href="/css/plugins/bootstrap.css">
    <link rel='stylesheet' href='/css/stylesheets/style.css' />
</head>

<body>
    <section class="container">
        <h1>
            <%= title %>
        </h1>
        <form class="form-register-recipe">
            <div class="form-group">
                <label for="tipo" class="tipo">Escolha a receita</label>
                <select class="form-control" id="tipo">
                    <option>Caldo de carne</option>
                    <option>Sopa de legumes</option>
                    <option>Sopa de creme de leite</option>
                </select>
            </div>
            <button class="btn btn-primary">Enviar</button>
        </form>
    </section>
        
    <script src="/js/plugins/jquery.js"></script>
    <script src="/js/plugins/bootstrap.js"></script>
</body>

</html>
