<!DOCTYPE html>
<html>

<head>
    <title>
        <%= Title %>
    </title>
    <link rel="stylesheet" href="/css/plugins/bootstrap.css">
    <link rel='stylesheet' href='/css/stylesheets/style.css' />
    <script type="text/javascript" async defer src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY"></script>
</head>

<body>
    <h1>
        <%= Title %>
    </h1>
    <form class="form-register">
        <div class="form-group">
            <label for="Name">Nome</label>
            <input type="text" class="form-control" name="name" id="Name" placeholder="Nome">
        </div>
        <div class="form-group">
            <label for="Email">Email</label>
            <input type="email" class="form-control" name="email" id="Email" placeholder="Email">
        </div>
        <div class="form-group">
            <label for="Cell">Telefone</label>
            <input type="text" class="form-control" name="cell" id="Cell" placeholder="Telefone">
        </div>
        <input type="hidden" class="form-control" name="city" id="City" placeholder="Cidade">
        <button class="btn btn-default">Enviar</button>
    </form>
    <script src="/js/plugins/jquery.js"></script>
    <script src="/js/plugins/bootstrap.js"></script>
    <script src="/js/scripts/drivers.js"></script>
</body>

</html>