@import url('https://fonts.googleapis.com/css?family=Indie+Flower');

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#map {
  margin-top: 50px;
  height: 100%;
}
/* Optional: Makes the sample page fill the window. */
html, body {
  height: 100%;
  margin: 0;
  background-color: #f7f4e3;
  padding: 0;
}

.root {
  text-align: center;
}

.title.title-parent {
  font-size: 54px;
  font-family: 'Indie Flower', cursive;
}

.title.title-info {
  font-family: 'Indie Flower', cursive;  
  margin: 30px 200px;
  font-size: 22px;
}

.footer {
  background-color: #830506;
}

.footer-title {
  float: right;
  color: #f4f4f4;
}

.button-start {
  margin-top: 10px;
  width: 200px;
}

.btn.btn-danger {
  background-color: #830506;
}