
<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
<link rel="icon" type="image/png" href="/logo.png" />    
    <link rel="stylesheet" href="/css/plugins/bootstrap-cosmo.css">
    <link rel='stylesheet' href='/css/styles/login.css' />
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">    
  </head>
  <body>
    <section class="container">
        <div class="row">
            
            <form class="form-login col-sm-6 col-sm-offset-3">
                <h1><%= title %></h1>
                <div class="form-group">
                    <label for="Email">E-mail</label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <input type="email" name="email" class="form-control" id="Email" placeholder="exemplo@gmail.com">
                    </div>
                </div>
                <div class="form-group">
                    <label for="Password">Senha</label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                        <input type="password" name="password" class="form-control" id="Password" placeholder="********">
                    </div>
                </div>
                <button class="btn btn-default">Enviar</button>
            </form>
        </div>
    </section>
        <script src="/js/plugins/jquery.js"></script>
        <script src="/js/plugins/bootstrap.js"></script>       
        <script src="/js/scripts/users.js"></script>
    </body>
    </html>
