<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
<link rel="icon" type="image/png" href="/logo.png" />    
    <link rel="stylesheet" href="/css/plugins/bootstrap.css">
    <link rel='stylesheet' href='/css/css/styles/style.css' />
</head>

<body>
    <section class="container">
        <h1><%= title %></h1>
        <form class="form-register">
            <div class="form-group">
                <label for="Email">Email</label>
                <input type="email" class="form-control" name="email" id="Email" placeholder="Email">
            </div>
            <div class="form-group">
                <label for="Name">Nome</label>
                <input type="text" class="form-control" name="name" id="Name" placeholder="Nome">
            </div>
            <div class="form-group">
                <label for="Password">Senha</label>
                <input type="password" class="form-control" name="password" id="Password" placeholder="Senha">
            </div>
            <button class="btn btn-default">Enviar</button>
        </form>
    </section>
        <script src="/js/plugins/jquery.js"></script>
        <script src="/js/plugins/bootstrap.js"></script>
        <script src="/js/scripts/users.js"></script>
    </body>

</html>